<div *ngIf="item"  class="confirm">
    
        <div class="col-sm-15">
          <div class="card" id="card" >
            <div class="card-body">
              <p class="card-text">Are you sure do you want to delete this account {{item}}?</p>
              <button type="submit" (click)="delete()" class="btn btn-outline-danger">Yes</button>
              <button type="submit" (click)="cancel()" class="btn btn-outline-danger ms-2">No</button>
            </div>
          </div>
        </div>

</div> 