<div class="row mt-5">
    <div class="col-2"></div>
    <div class="reg col-8 container mt-5 p-4">
        <h6 class="mt-2">FedNet Online Registration</h6>
        <div class="container border border-primary mt-4">
            <form [formGroup]=" registerForm"(ngSubmit)="register()">
                <div class="mt-4">
                    <label for="">Enter your Account Number:</label>
                    <input formControlName="acno" id="reg_number" name="reg_num" type="text" placeholder=""
                        class="reg_input ">

                    <div class="text-danger ms-5"
                        *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched">
                        <p>Invalid data</p>
                    </div>

                </div> <br>

                <div>
                    <label for="">Enter User ID:</label>
                    <input formControlName="uname" id="reg_name" name="reg_name" type="text" placeholder=""
                        class="reg_input2 ">

                    <div class="text-danger ms-5"
                        *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched">
                        <p>Invalid data</p>
                    </div>

                </div> <br>
                <label for="">Enter the password:</label>
                <input formControlName="psw" id="reg_password" name="reg_pswd" type="password" placeholder=""
                    class="reg_input3 ">

                <div class="text-danger ms-5"
                    *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched">
                    <p>Invalid data</p>
                </div>

                <div class="p-4 text-center"><button class="reg_button mt-5" type="submit">Sign
                        Up</button></div>
            </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>